@media (min-width:1580px) {}

@media (max-width:1378px) {}

@media (max-width:1378px) {}

@media (max-width:1280px) {}

@media (max-width:1180px) {}

@media (max-width:1200px) {}

@media (max-width:991px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 16px;
    }
    #banner {
        padding: 7vh 0;
        .banner-cont {
            text-align: center;
        }
        .hero {
            .box {
                margin-top: 50px;
                .tri {
                    margin: auto;
                    left: 0;
                }
            }
            .img-banner {
                margin-top: 20px;
            }
        }
        .btn-cont {
            margin: auto;
            width: 100%;
        }
        .arrow-down {
            display: none;
        }
    }
    #experience {
        padding: 0;
        .about-cont {
            margin-top: 50px;
            h2, p {
                text-align: center;
            }
            .skills {
                p {
                    text-align: left;
                }
            }
        }
    }
    #my-works {
        padding: 7vh 0;

        .content {
            position: relative;
            .content-overlay {
                display: none;
            }
            .content-details {
                display: none;
            }
            .content-details-mob {
                display: block;
                position: absolute;
                text-align: center;
                padding: 20px 1em;
                width: 100%;
                bottom: 0;
                left: 0;
                opacity: 1;
                background: $green;
                transition: all 0.3s ease-in-out 0s;

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }
                p {
                    font-size: 12px;
                    font-weight: 300;
                }
                .go-to-btn{
                    border: solid 1px #fff;
                    padding: 10px 15px;
                    transition: all 0.3s ease-in-out 0s;
                    &:hover {
                        background: #fff;
                        color: #fff;
                        font-weight: 400;
                    }
                }
                .btn-1 {
                    // background: darken($red, 1.5%);
                    font-weight: 100;
                    margin: 0;
                    font-size: 12px;

                    svg {
                        height: 45px;
                        left: 0;
                        position: absolute;
                        top: 0; 
                        width: 100%; 
                    }
                    
                    rect {
                        fill: none;
                        stroke: #fff;
                        stroke-width: 2;
                        stroke-dasharray: 422, 0;
                        transition: all 0.35s linear;
                    }
                }
                
                .btn-1:hover {
                    // background: rgba($red, 0);
                    font-weight: 600;
                    color: #fff;
                    // letter-spacing: 1px;
                    
                    rect {
                        stroke-width: 5;
                        stroke-dasharray: 15, 310;
                        stroke-dashoffset: 48;
                        transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }
            }
            &:hover {
                .content-details {
                    display: none;
                }
                .content-overlay {
                    display: none;
                }
            }
        }
    }
}

@media (max-width:768px) {
    %hire-me {
        font-size: 10px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 14px;
    }
    #banner {
        .hero {
            .box {
                a {
                    font-size: 18px;
                }
            }
            p {
                font-size: 18px;
            }
        }
    }
    #contact {
        .socmed-links {
            .soc-logo {
                height: 28px;
            }
        }
        .line-green {
            padding: 26px;
        }
    }
}

@media (max-width: 575px) {}

@media (max-width:480px) {}

@media (max-width: 375px) {
    .the-cont {
        padding: 0px 1.5em 0 1.5em;
    }
}