.btn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 34px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    
  //   @media(min-width: 400px) {
  //     display: inline-block;
  //     margin-right: 2.5em;
    
  //     &:nth-of-type(even) {
  //       margin-right: 0;
  //     }
  //   }
    
    @media(min-width: 600px) {
        
      margin: 0 1em 2em;
    
  //     &:nth-of-type(even) {
  //       margin-right: 2.5em;
  //     }
      
  //     &:nth-of-type(5) {
  //       margin-right: 0;
  //     }
      
    }
    
    &:hover { text-decoration: none; }
    
  }